.advantages {
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/grey-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 145px;

  @media (min-width: @desktop-width) {
    background-position-y: 252px;
  }
}

.advantages__wrapper {
  padding-top: 123px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 56px;
  }
}
