.advantages {
  width: 100%;
  margin: 0 auto;
}

.advantages__wrapper {
  background-image: url("../img/grey-background@mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 123px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/grey-background@tablet.png");
    background-position: center bottom -193px;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/grey-background@desktop.png");
    background-position: left bottom -80px;
    padding-bottom: 59px;
    padding-top: 72px;
  }
}
