.control-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--box {
    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.control-list__item:not(:last-of-type) {
  margin-block-end: 47px;
}

.control-list__name {
  .font(400, 18px, 30px, @main-color);
}

.control-list__control {
  position: relative;
  padding-inline-start: 57px;
  cursor: pointer;

  .control-list__mark {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    left: 0;
    transform: translateY(-5px);
    background-color: #ffffff;
  }

  .control-list__mark--radio {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    left: 0;
    top: -5px;
  }

  &:hover {
    .control-list__mark {
      border-color: @main-color;
    }
  }

  &:active {
    .control-list__mark {
      border-color: @second-color;
    }
  }
}

.control-list__check[type="checkbox"]:checked + .control-list__mark::before {
  position: absolute;
  content: url("../img/tick.svg");
  left: 7px;
  top: 50%;
  transform: translateY(-8px);
}

.control-list__radio[type="radio"]:checked + .control-list__mark--radio::before {
  position: absolute;
  content: "";
  left: 10px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-8px);
}
