.contacts {

  margin: 0 auto;
  width: @mobile-width;


  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.contacts__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.contacts__callback {
  .font(300, 24px, 29px, @main-color);
}

.contact__link {
  .font(300, 24px, 33px, @second-color);
  text-decoration: none;

  &:hover {
    color: #283645;
  }

  &:active {
    color: fade(#283645, 30%);
  }
}

.contact__address {
  .font(300, 24px, 33px, @second-color);
  font-style: normal;
}
