.footer-logo-link {
  text-decoration: none;
  margin-bottom: 38px;
  gap: 11px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: baseline;
  }
}

.footer-logo-link__pink {
  @media (min-width: @desktop-width) {
    display: none;
  }

  &--hidden {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}
