.form__group {
  border: none;

  &--second {
    background-color: #f2f2f2;
  }
}

.form__title {
  .font(400, 14px, 18px, @second-color);
  text-transform: uppercase;
}

.person-data__name {
  .font(400, 14px, 30px, @second-color);
  text-transform: uppercase;
}

.person-data__input {
  .font(400, 18px, 30px, @main-color);
  padding: 20px 23px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  &:hover {
    border-color: @main-color;
  }

  &:active {
    border-color: @second-color;
  }
}

.form__textarea {
  .font(400, 18px, 30px, @main-color);
  padding: 22px;
}

.form__info {
  .font(400, 14px, 30px, @main-color);
  text-transform: uppercase;
}

.form__asterisk {
  .font(400, 14px, 30px, @second-color);
}
