.header-main {
  background-color: rgba(29, 38, 49, 1);
  background-image: url("../img/header/back-mobile.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  object-fit: contain;
}
