.header-main {
  margin: 0 auto;
  width: 100%;
  background-repeat: no-repeat;
  background-position-y: 200px, 28px;
  background-position-x: center;
  background-color: #283645;
  background-image: url("../img/phone-hand.png"), url("../img/header/back-mobile.png");
  background-size: 320px 286px, 100%;
  min-height: 462px;

  &--inner--catalog {
    background-image: url("../img/header/back-mobile.png");
    background-position: top;
    background-size: 100%;
    min-height: 237px;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/phone-hand@tablet.png"), url("../img/header/back-tablet.png");
    min-height: 729px;
    background-position: bottom;
    background-size: 660px 545px, cover;

    &--inner--catalog {
      background-image: url("../img/header/back-tablet.png");
      background-size: 100%;
      min-height: 440px;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/phone-hand@desktop.png"), url("../img/header/back-desktop.png");
    min-height: 853px;
    background-position: bottom;
    background-size: 1050px 645px, cover;

    &--inner--catalog {
      background-image: url("../img/header/back-desktop.png");
      background-size: 100%;
      min-height: 504px;
    }
  }
}

.header-main__container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 66px;
  grid-column: 2/3;

  @media (min-width: @tablet-width) {
    min-height: 110px;
  }

  @media (min-width: @desktop-width) {
    min-height: 110px;
  }
}
