.main-title__text {
  .font(300, 24px, 33px, #ffffff);
}

.container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}
