.photo-list__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-list__item {
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 300px;
  }

  &--size-xl {
    width: 100%;
  }
}

.photo-list__wrapper {
  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    min-height: 155px;
  }
}

.photo-list__writers {
  margin-top: 0;
}

.photo-list__author {
  .font(700, 14px, 24px, @main-color);
  font-style: normal;
}

.photo-list__list {
  .font(300, 12px, 24px, @main-color);
  text-transform: uppercase;
}

.photo-list__comments {
  .font(400, 14px, 24px, @main-color);
}

.photo-list__stats {
  .font(400, 12px, 24px, @second-color);
  text-transform: uppercase;
}
