.photo-list__author {
  .font(700, 14px, 24px, #283645);
  font-style: normal;
}

.photo-list__list {
  .font(300, 12px, 24px, #283645);
  text-transform: uppercase;
}

.photo-list__comments {
  .font(400, 14px, 24px, #283645);
}

.photo-list__stats {
  .font(400, 12px, 24px, #d22856);
  text-transform: uppercase;
}
