.scale {
  width: 240px;
  height: 2px;
  background-color: #283645;
  margin-block-start: 35px;
  margin-block-end: 35px;
  position: relative;

  &:not(:first-of-type) {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }

  .scale__control {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #d22856;
    right: 10%;
    top: 50%;
    transform: translateY(-9px);
    background-color: #ffffff;
  }

  @media (min-width: @tablet-width) {
    width: 202px;
    margin-bottom: 64px;

    &::before {
      position: absolute;
      top: -12px;
      left: -51px;
      content: url("../img/upload-form/crop-small.svg");
    }

    &--primary::before {
      content: url("../img/upload-form/fill-small.svg");
    }

    &--secondary::before {
      content: url("../img/upload-form/contrast-small.svg");
    }


    &::after {
      position: absolute;
      content: "";
      width: 155%;
      height: 1px;
      background-color: fade(@main-color, 10%);
      top: 34px;
      left: -50px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 288px;

    &::before {
      position: absolute;
      top: -22px;
      left: -51px;
      content: url("../img/upload-form/crop.svg");
    }

    &--primary::before {
      content: url("../img/upload-form/fill.svg");
    }

    &--secondary::before {
      content: url("../img/upload-form/contrast.svg");
    }

    &::after {
      width: 130%;
    }

    &--secondary::after {
      display: none;
    }
  }
}
