.table-cost {
  border-collapse: collapse;
  width: 100%;

  @media (min-width: @tablet-width) {
    transform: translateX(0);
    display: grid;
    grid-template-columns: auto 620px auto;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: auto 940px auto;
  }
}

.table-cost__body {
  @media (min-width: @tablet-width) {
    grid-column: 2;
  }
}

.table-cost__item {
  @media (min-width: @tablet-width) {
    display: block;
  }
}

.table-cost__title {
  background-color: #283645;
  .font(700, 16px, 30px, #ffffff);
  border: 2px solid #e5e5e5;
  min-width: 276px;
  position: relative;
  overflow: hidden;

  .table-cost__sum {
    .font(300, 18px, 30px, #ffffff);
  }

  &:first-of-type {
    @media (min-width: @tablet-width) {
      background-color: transparent;
      border-color: transparent;
    }
  }

  @media (min-width: @tablet-width) {
    min-width: 152px;
  }

  @media (min-width: @desktop-width) {
    min-width: 233px;
  }
}

.table-cost__title--active::before {
  position: absolute;
  content: url("../img/hits.svg");
  left: 0;
  top: 0;

  @media (min-width: @tablet-width) {
    left: -5px;
    top: -10px;
  }

  @media (min-width: @desktop-width) {
    top: 0;
    left: 0;
  }
}

.table-cost__cell {
  .font(400, 14px, 30px, @main-color);
  border: 2px solid #e5e5e5;
  min-width: 276px;

  &--primary {
    background-image: url("../img/table/yes.png");
    background-repeat: no-repeat;
    background-position: right center;
  }

  @media (min-width: @tablet-width) {
    min-width: 152px;
  }

  @media (min-width: @desktop-width) {
    min-width: 233px;
  }
}

.table-cost__title--hidden {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
  }
}

.table-cost__cell--hidden {
  display: none;

  @media (min-width: @tablet-width) {
    display: table-cell;
  }
}
