.toggle {
  position: absolute;
  right: 0;
  .button-menu();

  @media (min-width: @desktop-width) {
    display: none;
  }
}

// .toggle--close {
//   position: absolute;
//   right: 43px;
//   top: 23px;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   border: 0;
//   padding: 0;

//   &::before {
//     .buttom-close();
//     content: "";
//     position: absolute;
//     transform: rotate(45deg);
//   }

//   &::after {
//     .buttom-close();
//     content: "";
//     position: absolute;
//     transform: rotate(-45deg);
//   }
// }
