.toggle {
  position: absolute;
  right: 20px;
  .button-menu();

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.toggle--close {
  position: absolute;
  right: 20px;
  top: 30px;
  width: 23px;
  height: 2px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  transform: rotate(-45deg);

  &::before {
    position: absolute;
    border: none;
    content: "";
    right: 0;
    top: 0;
    width: 23px;
    height: 2px;
    background-color: #ffffff;
    transform: rotate(90deg);
  }

  @media (min-width: @tablet-width) {
    top: 60px;
  }
}
