.tools-list {
  display: flex;
  gap: 35px;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.tools-list__item {
  border: none;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
}

.tools-list__icon {
  fill: @second-color;

  &--fill {
    fill: fade(@second-color, 30%);
  }

  &--contrast {
    fill: fade(@second-color, 30%);
  }
}
